{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "useJSXTextNode": true
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:react/recommended",
    "plugin:@next/next/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react",
    "jest"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "spaced-comment": [
      "error",
      "always",
      { "markers": ["/ <reference"] }
    ],
    "import/no-extraneous-dependencies": ["off", {
      "devDependencies": true,
      "optionalDependencies": false
    }],
    "max-len": ["error", {"code": 200}],
    "@next/next/no-img-element": ["off"],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["off"],
    "import/extensions": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "no-return-assign": ["off"],
    "react/display-name": ["off"]
  }
}
